openapi: 3.1.0
info:
  title: RunAgents API
  version: v1alpha
  summary: Public REST API contract for RunAgents.
  description: 'This OpenAPI document is the canonical machine-readable contract for
    the public RunAgents REST API where coverage exists.

    '
servers:
- url: https://api.runagents.io
security:
- bearerAuth: []
tags:
- name: Billing
  description: Workspace billing, usage metering, and Stripe session flows.
paths:
  /api/billing:
    get:
      tags:
      - Billing
      summary: Get billing status
      responses:
        '200':
          description: Current billing status for the workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan_status:
                    type: string
                  actions_used:
                    type: integer
                  actions_limit:
                    type: integer
                  period_start:
                    type: string
                    format: date-time
                  period_end:
                    type: string
                    format: date-time
                  days_remaining:
                    type: integer
                  has_payment_method:
                    type: boolean
                required:
                - plan_status
                - actions_used
                - actions_limit
                - period_start
                - period_end
                - days_remaining
                - has_payment_method
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getApiBilling
  /api/billing/usage/daily:
    get:
      tags:
      - Billing
      summary: Get daily billing usage
      responses:
        '200':
          description: Daily usage totals for the current lookback window.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                    count:
                      type: integer
                  required:
                  - date
                  - count
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getApiBillingUsageDaily
  /api/billing/setup-intent:
    post:
      tags:
      - Billing
      summary: Create a Stripe setup intent
      responses:
        '200':
          description: Stripe setup intent for collecting a payment method.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret:
                    type: string
                required:
                - client_secret
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postApiBillingSetupIntent
  /api/billing/payment-method:
    post:
      tags:
      - Billing
      summary: Attach a payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: string
              required:
              - payment_method_id
      responses:
        '200':
          description: Payment method attached and plan status updated if needed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                - status
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postApiBillingPaymentMethod
  /api/billing/subscribe:
    post:
      tags:
      - Billing
      summary: Create a Stripe checkout session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                success_url:
                  type: string
                  format: uri
                cancel_url:
                  type: string
                  format: uri
              required:
              - success_url
              - cancel_url
      responses:
        '200':
          description: Stripe Checkout session URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                required:
                - url
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postApiBillingSubscribe
  /api/billing/portal:
    post:
      tags:
      - Billing
      summary: Create a Stripe billing portal session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                return_url:
                  type: string
                  format: uri
              required:
              - return_url
      responses:
        '200':
          description: Stripe Billing Portal URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                required:
                - url
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postApiBillingPortal
  /api/billing/publishable-key:
    get:
      tags:
      - Billing
      summary: Get Stripe publishable key
      responses:
        '200':
          description: Publishable Stripe key for frontend use.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishable_key:
                    type: string
                required:
                - publishable_key
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getApiBillingPublishableKey
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  parameters:
    RequestId:
      name: requestId
      in: path
      required: true
      schema:
        type: string
    RunId:
      name: runId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ActionId:
      name: actionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CatalogId:
      name: catalogId
      in: path
      required: true
      schema:
        type: string
    PolicyName:
      name: policyName
      in: path
      required: true
      schema:
        type: string
    ConnectorId:
      name: connectorId
      in: path
      required: true
      schema:
        type: string
    ProviderName:
      name: providerName
      in: path
      required: true
      schema:
        type: string
    Namespace:
      name: namespace
      in: path
      required: true
      schema:
        type: string
    AgentName:
      name: agentName
      in: path
      required: true
      schema:
        type: string
    ToolName:
      name: toolName
      in: path
      required: true
      schema:
        type: string
    BuildId:
      name: buildId
      in: path
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid request body or parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: State transition conflict or payload mismatch.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadGateway:
      description: Upstream provider or agent request failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
    DeleteStatus:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - deleted
    ApprovalStatus:
      type: string
      enum:
      - PENDING
      - APPROVED
      - REJECTED
      - EXPIRED
    ApprovalScope:
      type: string
      enum:
      - once
      - run
      - agent_user_ttl
    AccessRequest:
      type: object
      required:
      - id
      - status
      properties:
        id:
          type: string
        subject:
          type: string
        agent_id:
          type: string
        tool_id:
          type: string
        status:
          $ref: '#/components/schemas/ApprovalStatus'
        duration:
          type: string
        scope:
          $ref: '#/components/schemas/ApprovalScope'
        approver_id:
          type: string
        reason:
          type: string
        action_id:
          type: string
        run_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
    CreateAccessRequest:
      type: object
      required:
      - subject
      - tool_id
      properties:
        subject:
          type: string
        tool_id:
          type: string
        agent_id:
          type: string
        duration:
          type: string
        run_id:
          type: string
          format: uuid
        capability:
          type: string
        payload_hash:
          type: string
        tool_method:
          type: string
        tool_url:
          type: string
          format: uri
    ApprovalDecision:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/ApprovalScope'
        duration:
          type: string
        reason:
          type: string
    RejectionDecision:
      type: object
      properties:
        reason:
          type: string
    RunStatus:
      type: string
      enum:
      - RUNNING
      - PAUSED
      - PAUSED_APPROVAL
      - PAUSED_CONSENT
      - COMPLETED
      - FAILED
    Run:
      type: object
      required:
      - id
      - agent_id
      - user_id
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
        agent_id:
          type: string
        namespace:
          type: string
        user_id:
          type: string
        invoke_url:
          type: string
          format: uri
        status:
          $ref: '#/components/schemas/RunStatus'
        blocked_action_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateRun:
      type: object
      required:
      - agent_id
      - user_id
      properties:
        agent_id:
          type: string
        user_id:
          type: string
        conversation_id:
          type: string
        namespace:
          type: string
        invoke_url:
          type: string
          format: uri
    UpdateRunStatus:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - COMPLETED
          - FAILED
          - PAUSED_APPROVAL
          - RUNNING
    RunEventType:
      type: string
      enum:
      - USER_MESSAGE
      - AGENT_MESSAGE
      - TOOL_REQUEST
      - TOOL_RESPONSE
      - APPROVAL_REQUIRED
      - CONSENT_REQUIRED
      - APPROVED
      - REJECTED
      - RESUMED
      - RUN_CREATED
      - INVOKE_REQUESTED
      - INVOKE_COMPLETED
      - INVOKE_FAILED
      - TOOL_CALLED
      - COMPLETED
      - FAILED
    RunEvent:
      type: object
      required:
      - event_id
      - run_id
      - seq
      - type
      - timestamp
      properties:
        event_id:
          type: string
        run_id:
          type: string
          format: uuid
        seq:
          type: integer
        type:
          $ref: '#/components/schemas/RunEventType'
        actor:
          type: string
        payload_hash:
          type: string
        timestamp:
          type: string
          format: date-time
    CreateRunEvent:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/RunEventType'
        payload_hash:
          type: string
        actor:
          type: string
    ActionStatus:
      type: string
      enum:
      - BLOCKED
      - APPROVED
      - EXECUTED
      - FAILED
      - EXPIRED
    BlockedAction:
      type: object
      required:
      - action_id
      - run_id
      - tool_id
      - status
      - created_at
      - updated_at
      properties:
        action_id:
          type: string
          format: uuid
        run_id:
          type: string
          format: uuid
        tool_id:
          type: string
        capability:
          type: string
        payload_hash:
          type: string
        status:
          $ref: '#/components/schemas/ActionStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateBlockedAction:
      type: object
      required:
      - tool_id
      properties:
        tool_id:
          type: string
        capability:
          type: string
        payload_hash:
          type: string
    ApproveBlockedAction:
      type: object
      properties:
        payload_hash:
          type: string
    CatalogEntry:
      type: object
      required:
      - id
      - name
      - summary
      properties:
        id:
          type: string
        name:
          type: string
        summary:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        latest_version:
          type: string
        required_integrations:
          type: array
          items:
            type: string
        governance_traits:
          type: array
          items:
            type: string
        complexity:
          type: string
    CatalogListResponse:
      type: object
      required:
      - generated_at
      - items
      - total
      - page
      - page_size
      properties:
        generated_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/CatalogEntry'
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
    CatalogDeploymentTemplate:
      type: object
      properties:
        agentName:
          type: string
        systemPrompt:
          type: string
        requiredTools:
          type: array
          items:
            type: string
        policies:
          type: array
          items:
            type: string
        identityProvider:
          type: string
        sourceType:
          type: string
        sourceFiles:
          type: object
          additionalProperties:
            type: string
    CatalogManifest:
      type: object
      required:
      - id
      - version
      - name
      - summary
      properties:
        id:
          type: string
        version:
          type: string
        name:
          type: string
        summary:
          type: string
        defaultModel:
          type: string
        requiredIntegrations:
          type: array
          items:
            type: string
        governanceTraits:
          type: array
          items:
            type: string
        deploymentTemplate:
          $ref: '#/components/schemas/CatalogDeploymentTemplate'
    CatalogVersion:
      type: object
      required:
      - version
      - published_at
      properties:
        version:
          type: string
        published_at:
          type: string
          format: date-time
        summary:
          type: string
        changelog:
          type: string
    CatalogVersionsResponse:
      type: object
      required:
      - agent_id
      - versions
      properties:
        agent_id:
          type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/CatalogVersion'
    DeployToolCreate:
      type: object
      required:
      - name
      - base_url
      properties:
        name:
          type: string
        base_url:
          type: string
          format: uri
        description:
          type: string
        auth_type:
          type: string
          enum:
          - None
          - APIKey
          - OAuth2
        port:
          type: integer
        scheme:
          type: string
          enum:
          - HTTP
          - HTTPS
    LlmConfig:
      type: object
      additionalProperties: true
    EnvVar:
      type: object
      additionalProperties: true
    DeployRequest:
      type: object
      required:
      - agent_name
      properties:
        agent_name:
          type: string
        namespace:
          type: string
        image:
          type: string
        source_files:
          type: object
          additionalProperties:
            type: string
        artifact_id:
          type: string
        draft_id:
          type: string
        system_prompt:
          type: string
        required_tools:
          type: array
          items:
            type: string
        tool_url_mappings:
          type: object
          additionalProperties:
            type: string
        tools_to_create:
          type: array
          items:
            $ref: '#/components/schemas/DeployToolCreate'
        llm_configs:
          type: array
          items:
            $ref: '#/components/schemas/LlmConfig'
        env:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
        requirements:
          type: string
        entry_point:
          type: string
        framework:
          type: string
        identity_provider:
          type: string
        policies:
          type: array
          items:
            type: string
    DeployResponse:
      type: object
      required:
      - agent
      - namespace
      properties:
        agent:
          type: string
        namespace:
          type: string
        tools_created:
          type: array
          items:
            type: string
        build_id:
          type: string
        image_uri:
          type: string
        execution_mode:
          type: string
        build_required:
          type: boolean
        build_profile:
          type: string
        decision_reason:
          type: string
    StarterKitResponse:
      type: object
      properties:
        tool_created:
          type: string
        model_provider_created:
          type: string
    PolicyRule:
      type: object
      properties:
        permission:
          type: string
        operations:
          type: array
          items:
            type: string
        resource:
          type: string
    PolicyApprovalDelivery:
      type: object
      properties:
        connectors:
          type: array
          items:
            type: string
        mode:
          type: string
        fallbackToUI:
          type: boolean
    PolicyApprovalBinding:
      type: object
      properties:
        name:
          type: string
        toolIds:
          type: array
          items:
            type: string
        approvers:
          type: object
          additionalProperties: true
        defaultDuration:
          type: string
        delivery:
          $ref: '#/components/schemas/PolicyApprovalDelivery'
    PolicySpec:
      type: object
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRule'
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/PolicyApprovalBinding'
    PolicyStatus:
      type: object
      properties:
        ready:
          type: boolean
        message:
          type: string
    PolicyUse:
      type: object
      properties:
        name:
          type: string
        namespace:
          type: string
    Policy:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        namespace:
          type: string
        spec:
          $ref: '#/components/schemas/PolicySpec'
        status:
          $ref: '#/components/schemas/PolicyStatus'
        used_by:
          type: array
          items:
            $ref: '#/components/schemas/PolicyUse'
    PolicyUpsertRequest:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        spec:
          $ref: '#/components/schemas/PolicySpec'
    TranslatePolicyRequest:
      type: object
      required:
      - text
      properties:
        text:
          type: string
    TranslatePolicyResponse:
      type: object
      required:
      - rules
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRule'
    ApprovalConnectorType:
      type: string
      enum:
      - webhook
      - slack
      - teams
      - jira
      - pagerduty
    ApprovalConnector:
      type: object
      required:
      - id
      - name
      - endpoint
      - enabled
      properties:
        id:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/ApprovalConnectorType'
        endpoint:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        enabled:
          type: boolean
        timeout_seconds:
          type: integer
        slack_security_mode:
          type: string
          enum:
          - compat
          - strict
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ApprovalConnectorCreate:
      type: object
      required:
      - name
      - endpoint
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/ApprovalConnectorType'
        endpoint:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        enabled:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 120
        slack_security_mode:
          type: string
          enum:
          - compat
          - strict
    ApprovalConnectorPatch:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/ApprovalConnectorType'
        endpoint:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        enabled:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 120
        slack_security_mode:
          type: string
          enum:
          - compat
          - strict
    ApprovalConnectorCheck:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        status:
          type: string
        message:
          type: string
        duration_ms:
          type: integer
    ApprovalConnectorTestRequest:
      type: object
      required:
      - endpoint
      properties:
        type:
          $ref: '#/components/schemas/ApprovalConnectorType'
        endpoint:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 120
        slack_security_mode:
          type: string
          enum:
          - compat
          - strict
    ApprovalConnectorTestResult:
      type: object
      properties:
        status:
          type: string
        connector_type:
          type: string
        endpoint:
          type: string
        checks:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalConnectorCheck'
    ApprovalConnectorDefaults:
      type: object
      properties:
        default_delivery_mode:
          type: string
        default_fallback_to_ui:
          type: boolean
        default_timeout_seconds:
          type: integer
        min_timeout_seconds:
          type: integer
        max_timeout_seconds:
          type: integer
    ApprovalConnectorDefaultsUpdate:
      type: object
      properties:
        default_delivery_mode:
          type: string
        default_fallback_to_ui:
          type: boolean
        default_timeout_seconds:
          type: integer
    ApprovalConnectorActivity:
      type: object
      properties:
        id:
          type: string
        timestamp:
          type: string
          format: date-time
        event:
          type: string
        connector_id:
          type: string
        connector_name:
          type: string
        request_id:
          type: string
        decision:
          type: string
        status_code:
          type: integer
        duration_ms:
          type: integer
        message:
          type: string
    IdentityProviderSettings:
      type: object
      required:
      - issuer
      - jwksUri
      properties:
        issuer:
          type: string
          format: uri
        jwksUri:
          type: string
          format: uri
        audiences:
          type: array
          items:
            type: string
    IdentityProviderSpec:
      type: object
      required:
      - host
      - identityProvider
      - userIDClaim
      properties:
        host:
          type: string
        identityProvider:
          $ref: '#/components/schemas/IdentityProviderSettings'
        userIDClaim:
          type: string
        allowedDomains:
          type: array
          items:
            type: string
    IdentityProvider:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        namespace:
          type: string
        spec:
          $ref: '#/components/schemas/IdentityProviderSpec'
    IdentityProviderUpsertRequest:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        namespace:
          type: string
        spec:
          $ref: '#/components/schemas/IdentityProviderSpec'
    SecretRef:
      type: object
      properties:
        name:
          type: string
        namespace:
          type: string
    AgentToolRef:
      type: object
      properties:
        name:
          type: string
    NameValuePair:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    AgentStatus:
      type: object
      properties:
        phase:
          type: string
        message:
          type: string
    AgentSpec:
      type: object
      properties:
        image:
          type: string
        systemPrompt:
          type: string
        requiredTools:
          type: array
          items:
            $ref: '#/components/schemas/AgentToolRef'
        llmConfig:
          type: object
          additionalProperties: true
        env:
          type: array
          items:
            $ref: '#/components/schemas/NameValuePair'
    Agent:
      type: object
      required:
      - name
      - namespace
      properties:
        name:
          type: string
        namespace:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        spec:
          $ref: '#/components/schemas/AgentSpec'
        status:
          $ref: '#/components/schemas/AgentStatus'
    ToolApiKeyConfig:
      type: object
      properties:
        in:
          type: string
        name:
          type: string
        valuePrefix:
          type: string
        secretRef:
          $ref: '#/components/schemas/SecretRef'
    ToolOAuth2Config:
      type: object
      properties:
        authUrl:
          type: string
          format: uri
        tokenUrl:
          type: string
          format: uri
        scopes:
          type: array
          items:
            type: string
        authParams:
          type: object
          additionalProperties:
            type: string
        credentialsSecretRef:
          $ref: '#/components/schemas/SecretRef'
    ToolAuthentication:
      type: object
      properties:
        type:
          type: string
          enum:
          - None
          - APIKey
          - OAuth2
        apiKeyConfig:
          $ref: '#/components/schemas/ToolApiKeyConfig'
        oauth2Config:
          $ref: '#/components/schemas/ToolOAuth2Config'
    ToolConnection:
      type: object
      properties:
        topology:
          type: string
        baseUrl:
          type: string
          format: uri
        port:
          type: integer
        scheme:
          type: string
        authentication:
          $ref: '#/components/schemas/ToolAuthentication'
        tls:
          type: object
          additionalProperties: true
    ToolCapability:
      type: object
      properties:
        name:
          type: string
        method:
          type: string
        path:
          type: string
        description:
          type: string
        riskTags:
          type: array
          items:
            type: string
    ToolGovernance:
      type: object
      additionalProperties: true
    ToolSpec:
      type: object
      properties:
        description:
          type: string
        connection:
          $ref: '#/components/schemas/ToolConnection'
        governance:
          $ref: '#/components/schemas/ToolGovernance'
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/ToolCapability'
        riskTags:
          type: array
          items:
            type: string
    ToolStatus:
      type: object
      properties:
        phase:
          type: string
        last_probe_time:
          type: string
          format: date-time
        probe_latency_ms:
          type: integer
    Tool:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        namespace:
          type: string
        spec:
          $ref: '#/components/schemas/ToolSpec'
        status:
          $ref: '#/components/schemas/ToolStatus'
    ToolCredentials:
      type: object
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        api_key:
          type: string
    ToolCreateRequest:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        spec:
          $ref: '#/components/schemas/ToolSpec'
        credentials:
          $ref: '#/components/schemas/ToolCredentials'
    ProbeRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
    ProbeResult:
      type: object
      properties:
        reachable:
          type: boolean
        status_code:
          type: integer
        latency_ms:
          type: integer
    ModelProviderAuth:
      type: object
      additionalProperties: true
    ModelProviderRateLimit:
      type: object
      properties:
        requestsPerMinute:
          type: integer
    ModelProviderSpec:
      type: object
      properties:
        provider:
          type: string
        endpoint:
          type: string
          format: uri
        models:
          type: array
          items:
            type: string
        auth:
          $ref: '#/components/schemas/ModelProviderAuth'
        rateLimit:
          $ref: '#/components/schemas/ModelProviderRateLimit'
    ModelProviderStatus:
      type: object
      properties:
        phase:
          type: string
        message:
          type: string
    ModelProvider:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        namespace:
          type: string
        spec:
          $ref: '#/components/schemas/ModelProviderSpec'
        status:
          $ref: '#/components/schemas/ModelProviderStatus'
    ModelProviderUpsertRequest:
      type: object
      required:
      - name
      - spec
      properties:
        name:
          type: string
        spec:
          $ref: '#/components/schemas/ModelProviderSpec'
    ChatMessage:
      type: object
      required:
      - role
      - content
      properties:
        role:
          type: string
        content:
          oneOf:
          - type: string
          - type: array
            items:
              type: object
              additionalProperties: true
    ChatCompletionRequest:
      type: object
      required:
      - model
      - messages
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        temperature:
          type: number
        max_tokens:
          type: integer
        stream:
          type: boolean
        top_p:
          type: number
        frequency_penalty:
          type: number
        presence_penalty:
          type: number
        stop:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
    ChatCompletionChoice:
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: '#/components/schemas/ChatMessage'
        finish_reason:
          type: string
    ChatCompletionUsage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/ChatCompletionUsage'
    BuildStatus:
      type: string
      enum:
      - PENDING
      - BUILDING
      - SUCCEEDED
      - FAILED
    Build:
      type: object
      required:
      - id
      - status
      - image
      - created_at
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/BuildStatus'
        image:
          type: string
        error:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
    BuildRequest:
      type: object
      required:
      - name
      - files
      properties:
        name:
          type: string
        files:
          type: object
          additionalProperties:
            type: string
        entry_point:
          type: string
        requirements:
          type: string
        framework:
          type: string
